.card {
    margin: 0.5rem; /* Adjust the value as needed */
}

.card-top-left {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .favorite-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: scale(1.5);
}