.main-dropdown-button {
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .dropdown-arrow {
    float: right;
    margin-left: 10px;
  }
  
  .rotate {
    transform: rotate(180deg);
  }