.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: -.125em;
    fill: currentColor;
  }

  .site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }

  .content {
    flex: 1; /* Expands to take up any available space */
  }

  .main-content {
    flex-grow: 1;
  }

  .body-container {
    padding-left: 7px;
    display: flex;
    flex: 1;  
    width: 100%;
  }
  
  .footer {
    background-color: #111111;
    color: white;
    /* text-align: center; */
  }
   /* Sidebar */
  
   
  @media (min-width: 768px) {
    .sidebar {
      flex-grow: 1;
      min-height: 0;
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    overflow: hidden;
  }
  
  .navbar {
    padding: .75rem 1rem;
  }



.person-icon{
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: -.4em;
  fill: currentColor;
}

.dropdown-arrow {
  float: right;
}

/* Styling for when the dropdown is active */
.rotate {
  transform: rotate(180deg);
}