.main-dropdown-button {
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .dropdown-arrow {
    float: right;
    margin-left: 10px;
  }
  
  .rotate {
    transform: rotate(180deg);
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  @media (max-width: 768px) {
    .modal-dialog {
      max-width: 90%;
      margin: 1.75rem auto;
    }
  }
  
  @media (max-width: 576px) {
    .modal-dialog {
      max-width: 70%;
      margin: 1.75rem auto;
    }
  }
  
  @media (max-width: 320px) {
    .modal-dialog {
      max-width: 50%;
      margin: 1.75rem auto;
    }
  }
  
  /* Optionally, add overflow-y: auto; to make modal body scrollable on smaller screens */
  .modal-body {
    overflow-y: auto;
    max-height: 60vh; /* Adjust the max-height value according to your needs */
  }
  