<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2" (click)="clearFilters()">{{ 'favorite-books' | translate }}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <form class="d-flex" role="search">
              <input type="search" class="form-control search-bar" placeholder="{{ 'search' | translate }}..." [(ngModel)]="searchTerm" name="searchBar" aria-label="Search">
              <button type="button" class="btn btn-outline-secondary search-btn" (click)="searchBooks()">{{ 'search' | translate }}</button>
          </form>
        </div>
        <!-- Sorting Dropdown Button -->
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle sort-btn" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'sort-by' | translate }}
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" (click)="sortBooks('a-z')">A-Z</button></li>
            <li><button class="dropdown-item" (click)="sortBooks('z-a')">Z-A</button></li>
            <!-- <li><button class="dropdown-item" (click)="sortBooks('popularity')">{{ 'popularity' | translate }}</button></li> -->
          </ul>
        </div>

        <!-- Filter Button -->
        <button type="button" class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-1 filter-btn" data-bs-toggle="modal" data-bs-target="#filterModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
            </svg>
            {{ 'filters' | translate }}
        </button>
      </div>
    </div>
    <div class="col">
      <div class="row" *ngIf="displayedBooks.length > 0; else noResultsTemplate">
        <div *ngFor="let book of displayedBooks" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <app-book-card [book]="book"></app-book-card>
        </div>
      </div>
            <ngb-pagination class="d-flex justify-content-center"
                            [pageSize]="25"
                            [collectionSize]="collectionSize"
                            [(page)]="page"
                            (pageChange)="changePage()"
                            [boundaryLinks]="true"
                            [maxSize]="3"
                            aria-label="Default pagination" />
    </div>
    <!-- No results template -->
    <ng-template #noResultsTemplate>
      <div class="alert alert-warning" role="alert">
        {{ 'no-results-found' | translate }}
      </div>
    </ng-template>
</main>

<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">{{ 'filter-options' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Categories as Scrollable Checkboxes -->
        <div class="mb-3">
          <label class="form-label">{{ 'category' | translate }}</label>
          <div class="category-scroll">
            <div *ngFor="let category of categories; let i = index" class="form-check">
              <input class="form-check-input" type="checkbox" id="category-{{i}}" [(ngModel)]="category.selected" [ngModelOptions]="{standalone: true}">
              <label class="form-check-label" for="category-{{i}}">
                {{category.name}}
              </label>
            </div>
          </div>
        </div>
        <hr>
        <label class="form-label">{{ 'availability' | translate }}:</label>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="availabilityCheck" [(ngModel)]="isAvailable" [ngModelOptions]="{standalone: true}">
          <label class="form-check-label" for="availabilityCheck">{{ 'available' | translate }}</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-danger" (click)="clearFilters()">{{ 'clear-filters' | translate }}</button>
        <div>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="applyFilters()">{{ 'apply-filters' | translate }}</button>
        </div>
      </div>
      
    </div>
  </div>
</div>


