<div class="container">
  <h2>{{"scan-isbn" | translate}}</h2>
  <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <video #video id="video" class="w-100" autoplay playsinline></video>
        <canvas #canvas hidden></canvas>
        <button class="btn btn-primary mt-3 w-100" (click)="capturePhotoAndScan()">{{"capture-and-scan" | translate}}</button>

        <div *ngIf="scannedIsbn">
          <p>{{"scanned-isbn" | translate}} {{ scannedIsbn }}</p>
          <p>{{ fetchStatusMessage | translate}}</p>
        </div>
        <button class="btn btn-success" *ngIf="foundData" (click)="submit()">{{"submit" | translate}}</button>
      </div>
  </div>
</div>
