.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.search-bar {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
  }
  
.search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}