<div class="horizontal-card">
    <div class="card-checkbox">
      <input type="checkbox" class="form-check-input" (change)="onCheckboxChange($event)" [value]="book.id">
    </div>
    <img class="card-img" [src]="book.photoUrl ? book.photoUrl : 'assets/images/no-img-found.jpg'" alt="{{book.title}}">
    <div class="card-info">
      <h5 class="card-title">{{book.title}}</h5>
      <p class="card-author">{{ 'by' | translate }} {{book.author}}</p>
    </div>
    <button type="button" class="btn btn-warning" (click)="goToEdit(this.book)">{{ 'modify' | translate }}</button>
  </div>
  