.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9.3rem; /* Adjust as needed */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.book-card:hover {
  transform: scale(1.02);
  border-color: #007bff;
}

.card-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.favorite-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.book-image {
    /* width: 100%;
    height: 100%; */
    object-fit: cover; /* Adjust fit as needed */
    border-radius: 7px;
}

.title-container {
  display: flex;
  align-items: top; 
  height: 100%; 
}


.book-title {
  font-size: 0.9rem;
  margin-top: 5px;
  max-height: 2.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
  