<div class="card">
    <button class="btn main-dropdown-button" (click)="toggleDropdown()" [class.active]="showDropdown" aria-expanded="false">
        <span>{{ this.user.name}}</span>
        <span class="dropdown-arrow" [ngClass]="{'rotate': showDropdown}">&#x25BC;</span>
    </button>
    <div class="dropdown-content" *ngIf="showDropdown">
        <div *ngFor="let loan of loanList">
            <hr>
            <div class="card-body horizontal-layout" *ngIf="this.loan.dateLoaned">
                <div class="group">
                    <div>
                        <label><strong>{{ 'date-loaned' | translate }}:</strong></label>
                        <div>{{ loan.dateLoaned | date }}</div>
                    </div>
                    <div>
                        <label><strong>{{ 'return-date' | translate }}:</strong></label>
                        <div *ngIf="this.loan.dateReturned; else notReturned">{{ loan.dateReturned | date }}</div>
                        <ng-template #notReturned>
                            <div style="color: red;">{{ 'not-returned' | translate }}</div>
                        </ng-template>
                    </div>
                </div>
                <div class="group">
                    <div>
                        <label><strong>{{ 'book-title' | translate }}:</strong></label>
                        <div>{{loanBooks[loan.id!].title}}</div>
                    </div>
                    <div>
                        <label><strong>{{ 'author' | translate }}:</strong></label>
                        <div>{{loanBooks[loan.id!].author}}</div>
                    </div>
                </div>
            
                <div *ngIf="!loan.dateReturned && loan.id !== undefined">
                    <label for="endDate-{{loan.id}}">{{ 'return-date' | translate }}</label>
                    <input type="date" class="form-control" id="endDate-{{loan.id}}" [ngModel]="temporaryReturnDates[loan.id]" (ngModelChange)="setTemporaryDate(loan.id, $event)" name="endDate-{{loan.id}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="openAddReturnedDateModal(loan)">{{ 'add' | translate }} {{ 'return-date' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{modalTitle | translate}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>{{modalMessage | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="addReturnedDate()">{{ 'confirm' | translate }}</button>
    </div>
</ng-template>