<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <!-- Book Cover -->
        <img src="assets\images\bibliotecaBCBLogo.jpg" alt="{{ book.title }}" class="img-fluid" style="border-radius: 6px;">
      </div>
      <div class="col-md-6">
        <h2 class="book-title">{{ book.title }}</h2>
        <div class="review-summary">
          <div class="star-rating">
            <div class="star-rating-top" [style.width.%]="averageRating / 5 * 100">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
            <div class="star-rating-bottom">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
          </div>  
          <span style="padding-left: 7px;">{{averageRating}}</span>
        </div>
        <br>
        <p>Autor: {{ book.author }}</p>
        <p>Categorie: {{ book.category }}</p>
        <!-- etc. for other metadata -->
  
        <!-- Availability -->
        <p>Status: <span [ngClass]="{'text-success': isAvailable, 'text-danger': !isAvailable}">
          {{ isAvailable ? 'Available' : 'Not Available' }}
        </span></p>
  
        
  
        <!-- Rent Button -->
        <button class="btn btn-primary" (click)="rentBook()" [disabled]="!isAvailable">Rent this Book</button>
  
        
  
        <!-- Submit Review Form -->
        <!-- Form for submitting a review -->
      </div>
    </div>
  
    <!-- User Reviews -->
    <app-review-dropdown [bookId]="book.id"></app-review-dropdown>
  
    <!-- Related Books -->
    <hr>
    <h4>Alte cărți din aceeași categorie</h4>
    <div class="related-books-container">
      <div class="related-book" *ngFor="let relatedBook of relatedBooks" >
        <app-related-book-card [book]="relatedBook"></app-related-book-card>
      </div>
    </div>
</div>
  