.star-rating {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 20px;
    height: 20px;
    width: 80px;
    position: relative;
    display: inline-block;
  }
  
  .star-rating-top {
    color: #ffc107;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .star-rating-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
  
  .star-rating span {
    margin-right: -0.06em; /* Adjust spacing based on font and size */
  }

  .related-books-container {
    display: flex;
    overflow-x: auto;
    padding: 15px 0;
  }
  
  .related-book {
    flex: 0 0 auto; /* Prevents cards from shrinking and ensures they stay the same width */
    width: 200px; /* Adjust based on your desired card width */
    margin-right: 15px;
  }

  @media (max-width: 768px) {
    .book-title {
      padding-top: 10px;
    }
  }