.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden; /* Ensure no content overflows the card */
}

.book-card:hover {
  transform: scale(1.02);
  border-color: #007bff;
}

.card-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2; /* Ensure the button is above the image */
}

.favorite-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2; /* Ensure the button is above the image */
}

.card-img-container {
  width: 100%;
  height: 0;
  padding-bottom: 47.17%; /* Maintain 2.12:1 aspect ratio */
  position: relative;
  overflow: hidden;
}

.book-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: contain; /* Ensures the image scales down and maintains aspect ratio */
  border-radius: 7px;
  z-index: 1; /* Ensure the image is below the button */
}

.title-container {
  display: flex;
  align-items: top;
  height: 100%;
}

.book-title {
  font-size: 0.9rem;
  margin-top: 5px;
  max-height: 2.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
